{% include 'header.html'%}
<script>
 function validate(){
        let sub_category_name = document.getElementById("sub_category_name").value
        if(sub_category_name==""){
            alert("Enter  SubCategory Name")
            return false;
        }
        return true
    }
</script>
<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-5">
    <div class="card p-4 mt-5">
      <form action="addSubCategory1" method="post" onsubmit="return validate()">
          <div class="text-center h3">Add SubCategory</div>
        <div class="form-group">
            <label for="sub_category_name">SubCategory Name</label>
            <input type="text" name="sub_category_name" id="sub_category_name" placeholder="Sub Category Name"  class="form-control p-2 mt-1">
          </div>
        <div class="form-group">
            <label for="category_id">Choose Category</label>
              <select name="category_id" id="category_id" class="form-control mt-1">
                {% for category in categories%}
                <option value="{{category['_id']}}">{{category['category_name']}}</option>
                {% endfor%}
              </select>
        </div>
          <input type="submit" value="Add SubCategory" class="btn btn-primary w-100 mt-3">
      </form>
    </div>
  </div>
</div>
